html {
    scroll-behavior: smooth;
}

body {
    height: 98vh;
    width: 100%;
    background-image: url(background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#heading {
    color: orange;
    text-align: center;
}

#home {
    padding-top: 12%;
}

#para1 {
    color: chocolate;
    text-align: center;
}

.line {
    color: chocolate;
    border-top: 5px solid;
}

#cara {
    margin-left: 39%;
}

#para2 {
    margin-left: 25%;
    margin-right: 25%;
    background-image: linear-gradient(to right, rgb(0, 90, 20), rgba(20, 63, 7, 0.918));
    color: chocolate;
    text-align: center;
}

#car5 {
    border: 3px solid;
    border-color: rgb(0, 94, 0);
    border-radius: 5%;
}

#para3 {
    color: aliceblue;
}

form {
    color: aliceblue;
}

#features {
    background-image: linear-gradient(to right, rgb(0, 90, 20), rgba(20, 63, 7, 0.918));
}

#icons {
    color: chocolate;
    font-size: 50px;
}

#count {
    color: aliceblue;
    font-size: 50px;
}

#time {
    font-size: 30px;
    color: coral;
}

#social {
    color: rgb(255, 106, 0);
    font-size: 40px;
    margin: 20px;
}

#footer {
    border: 2px solid;
    border-color: chocolate;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(footerback.jpg);
}

#nav {
    position: fixed;
    width: 100%;
    z-index: 3000;
    box-shadow: 0px 3px 2px 0px green;
    transition: all .4s;
    opacity: 0;
}

#brand {
    color: orange;
}

#nav-link {
    color: chocolate;
}

.carousel-control-prev {
    margin-bottom: 10%;
    margin-top: 10%;
    border: 3px solid green;
    border-radius: 7%;
    margin-left: -5%;
    stroke-width: 2px;
    background-color: rgba(253, 112, 10, 0.925);
}

.carousel-control-next {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: -5%;
    border: 3px solid green;
    border-radius: 7%;
    background-color: rgba(253, 112, 10, 0.925);
}

.actives {
    border-bottom: 2px solid orange;
}